body{
  background-color: #2C5530;

}

.title {
  position: relative;
  text-align: center;
  font-size: 40px;
  background-color: 739E82;
}

.titlev2 {
  position: relative;
  text-align: center;
  font-size: 40px;
  

  border-style:solid;
  border-width:3px;
  border-color:#99621E;
  background-color: #ffffff;
  margin-left: 70px;
  margin-right: 70px;
}

.main {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width:5px;
  border-color: #99621E;
    background-color: #ffffff;
}


 /* .graph {
   border-style:solid;
   border-width:1px;
} */

/* td{
  margin-top: 50px;
  margin-bottom: 50px;
}  */



.chart-container {
  height:auto; width:80vw

}

.glance {
  border-style:solid;
  border-width:5px;
  border-color: #99621E;
}

.chartName {
  font-size: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}
